<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856215003971-m1o00tdpmh0i5ec6lapitb363fti9r2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856215003971-m1o00tdpmh0i5ec6lapitb363fti9r2d</string>
	<key>API_KEY</key>
	<string>AIzaSyDym1wyrtAGrqvEqbvzfk2qO3rEczK6eFo</string>
	<key>GCM_SENDER_ID</key>
	<string>856215003971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.profileFirebase</string>
	<key>PROJECT_ID</key>
	<string>week8-ae43e</string>
	<key>STORAGE_BUCKET</key>
	<string>week8-ae43e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856215003971:ios:a60af6b0be96137747c5f6</string>
</dict>
</plist>